.cuerpo {
    background-image: url("https://media.istockphoto.com/id/879254748/es/foto/%C3%A1rbol-del-ahorcado-gr%C3%A1fico-del-concepto-en-estilo-de-pintura-de-aceite-suave.jpg?s=612x612&w=0&k=20&c=syvWtOlC4mV3xAdrKG_W_kF5-5fFJxz1Db3KE8pJcrE=");
    height: 100vh;
}

.ahorcado{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.principals_ahorcado {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%;
    height: 490px;
    background-color: rgba(89, 99, 117, 0.767);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-style: groove;
    border-color: rgb(139, 118, 118);
}


.header_ahorcado {
    display: flex;
    background-color: rgba(80, 151, 221, 0.623);
    width: 98.3%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    flex-wrap: wrap;
}
.words{
    font-size: 13px;
    color: white;
}

.btn_reiniciar_ahorcado {
    display: flex;
    width: 10%;
    justify-content: center;
    background: linear-gradient(135deg, #ff5f6d, #ffc371);
    color: white;
    font-weight: bold;
    font-size: 70%;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.btn_reiniciar_ahorcado:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ffc371, #ff5f6d);
}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.imagenes {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    width: 60%;
    height: 95%;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



/* Imagen del ahorcado */
.ahoracado_diseño {
    display: flex;
    width: 45%;
    height:80%; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}


.Mensajes_ahor{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    flex-wrap: wrap;

}

.mensajes_ahorcado {
    font-size: 21px;
    font-weight: bold;
    color: #ffcb47;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    word-wrap: break-word;

}


.adivina{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(112, 112, 112, 0.767);
    padding: 10px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(63, 58, 58, 0.904);
}

.word{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Entrada de texto */
.ahorcado_input {
    display: flex;
    font-size: 18px;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 400px;
    border: 2px solid #ffcb47;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: #ff5f6d;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5);
}

/* Adivina la palabra */
p {
    margin: 10px 0;
    font-size: 18px;
}

/* Turno y fallas */
.header_ahorcado p {
    margin: 0 10px;
}

/* Media query para pantallas grandes */
@media (min-width: 1024px) {
    .principals_ahorcado {
        width:50%; 
        height: 85%;
    }

    .imagenes {
        width: 50%;
        height: 100%;
    }

    .ahorcado_diseño {
        width: 80%; 
        height: 80%;
    }

    .header_ahorcado p {
        font-size: 18px; 
    }

    .ahorcado_input {
        font-size: 20px; 
    }

    .btn_reiniciar_ahorcado {
        font-size: 1rem; 
    }
}

